<head th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../../../dist/output.css" rel="stylesheet" />
<link href="../css/home.css" rel="stylesheet" />
<script src="https://cdn.tailwindcss.com"></script>
<title>Home</title>
</head>

<div th:fragment="estrutura" class="">
	<div class="hidden lg:flex lg:flex-shrink-0 h-screen">
		<div class="flex w-64 flex-col">
			<div class="flex min-h-0 flex-1 flex-col border-r border-gray-200 bg-[#49c5b6]">
				<div class="flex flex-1 flex-col overflow-y-auto pt-5 pb-4">
					<div class="flex flex-shrink-0 items-center px-4">
						<img class="h-8 w-auto" src="../img/logoaba.png" alt="ABAManager" />
					</div>
					<nav class="mt-5 flex-1" aria-label="Sidebar">
						<div class="space-y-1 px-2">
							<a href="/home" class="bg-gray-200 text-gray-9000 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
								<svg class="text-gray-900 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
										d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                    </svg>
								Pacientes
							</a>
						</div>
						<div class="space-y-1 px-2">
							<a href="#" class="bg-gray-200 text-gray-9000 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
								<svg class="text-gray-900 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
										d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                    </svg>
								Relatórios
							</a>
						</div>
						<div class="space-y-1 px-2">
							<a href="#" onclick="document.querySelector('#form-login').submit()" class="bg-gray-200 text-gray-9000 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
								<svg class="text-gray-900 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
										d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                    </svg>
								Sair
							</a>
							<form id="form-login" th:action="@{/logout}" method="post"></form>
						</div>
					</nav>
				</div>

				<div class="flex flex-shrink-0 border-t border-gray-200 pt-2 pl-2 h-11">
					<div>
						<a href="#" class="flex d-flex align-items-center text-gray-900 text-decoration-none">
							<img src="https://cdn-icons-png.flaticon.com/512/74/74472.png" alt="" width="32" height="32" class="rounded-full me-2 flex-col mx-2">
							<span class="text-sm font-medium flex-col h-full" th:text="${#authentication.getName()}">
								nome do profissional
								<strong>
									<svg class="w-6 align-left h-6 inline text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                                        </svg>
								</strong>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="mobile" class="">
	<div class="lg:hidden">
		<div class="flex items-center justify-between border-b border-gray-200 bg-gray-50 px-4 py-1.5">
			<div>
				<img class="h-8 w-auto" src="../img/logoaba.png" alt="ABAManager">
			</div>
			<div>
				<button type="button" class="-mr-3 inline-flex h-12 w-12 items-center justify-center rounded-md text-gray-500 hover:text-gray-900">
					<span class="sr-only">Mobile Menu</span>
					<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
				</button>
			</div>
		</div>
	</div>
</div>