<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head}"></head>

<body>
	<div class="flex h-full">

		<div th:replace="~{base :: estrutura}"></div>

		<div class="flex min-w-0 flex-1 flex-col overflow-hidden">

			<div th:replace="~{base :: mobile}"></div>

			<div class="relative z-0 flex flex-1 overflow-hidden mt-4">
				<main class="relative z-0 flex-1 overflow-y-auto focus:outline-none">
					<div class="px-4 sm:px-6 lg:px-8">
						<div class="sm:flex sm:items-center">
							<div class="sm:flex-auto">
								<h1 class="text-xl font-semibold text-gray-900">Pacientes</h1>
								<p class="mt-2 text-sm text-gray-700">Gerenciar pacientes</p>
							</div>
							<div th:if="${message}">
								<span style="color: #1ca325" th:text="${message}"></span>
							</div>
							<div th:if="${delmessage}" class="message">
								<span style="color: #a31c1c" th:text="${delmessage}"></span>
							</div>
							<div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
								<a href="/paciente/report/pdf">
									<button type="button"
										class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
										Gerar Relatório</button>
								</a>
								<a href="/paciente/formulario">
									<button
										class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
										Cadastrar</button>
								</a>
							</div>
						</div>
						<div class="mt-8 flex flex-col">
							<div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
								<div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
									<div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
										<table class="min-w-full divide-y divide-gray-300">
											<thead class="bg-gray-50">
												<tr>
													<th scope="col" class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Nome</th>
													<th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
													<th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Telefone</th>
													<th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Endereco</th>
													<th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Observação</th>
												</tr>
											</thead>
											<tbody class="divide-y divide-gray-200 bg-white">
												<tr th:each="paciente : ${pacientes}">
													<td th:text="${paciente.nome}" class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-900 sm:pl-6">Roberto</td>
													<td th:text="${paciente.email}" class="whitespace-nowrap px-2 py-2 text-sm text-gray-900">roberto@mail.com</td>
													<td th:text="${paciente.telefone}" class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">43464544</td>
													<td th:text="${paciente.endereco}" class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">Endereco</td>
													<td th:text="${paciente.observacao}" class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">array tbm</td>
													<td class="relative whitespace-nowrap py-2 pl-1 pr-2 text-right text-sm font-medium sm:pr-6">
														<form action="#" th:action="@{atividades/{idPaciente}(idPaciente=${paciente.id})}" th:method="GET">
															<button type="submit" class="text-indigo-600 hover:text-indigo-900">Atividades</button>
														</form>
														|
														<form action="#" th:action="@{paciente/editar/{id}(id=${paciente.id})}" th:method="PUT">
															<button type="submit" class="text-indigo-600 hover:text-indigo-900">Editar</button>
														</form>
														|
														
														<button type="button" class="text-indigo-600 hover:text-indigo-900" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Remover</button>
														<div class="modal fade bg-opacity-50 fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
															tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
															<div class="modal-dialog relative w-auto pointer-events-none">
																<div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
																	<div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
																		<h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLabel">Tem certeza que deseja remover?</h5>
																		<button type="button"
																			class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
																			data-bs-dismiss="modal" aria-label="Close"></button>
																	</div>
																	<div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
																		<button type="button"
																			class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out"
																			data-bs-dismiss="modal">Cancelar</button>
																		<form action="#" th:action="@{paciente/remover/{id}(id=${paciente.id})}" th:method="DELETE">
																			<button type="submit"
																				class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">Remover</button>
																		</form>
																	</div>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

				</main>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
</body>

</html>