<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../../../dist/output.css" rel="stylesheet" />
<script src="https://cdn.tailwindcss.com"></script>
<title>Login</title>
</head>

<body>
	<div class="flex min-h-full">
		<div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
			<div class="mx-auto w-full max-w-sm lg:w-96">
				<div>
					<img class="h-20 w-auto" src="../img/logoaba.png" alt="ABAManager">
					<h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">Logar no sistema</h2>
				</div>

				<div class="mt-8">
					<div class="mt-6">
						<form th:action="@{/login}" method="post" class="space-y-6">
							<div>
								<label for="email" class="block text-sm font-medium text-gray-700">Email</label>
								<div class="mt-1">
									<input id="email" name="email" type="email" autocomplete="email" required
										class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
								</div>
							</div>

							<div class="space-y-1">
								<label for="password" class="block text-sm font-medium text-gray-700">Senha</label>
								<div class="mt-1">
									<input id="password" name="password" type="password" autocomplete="current-password" required
										class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
								</div>
							</div>

							<div class="flex items-center justify-between">
								<div class="flex items-center">
									<input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
									<label for="remember-me" class="ml-2 block text-sm text-gray-900">Me lembre</label>
								</div>

								<div class="text-sm">
									<a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Esqueceu sua senha?</a>
								</div>
							</div>

							<div>
								<button type="submit"
									class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Entrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="relative hidden w-full flex-1 lg:block flex-col ">
			<img class="absolute inset-0 h-screen w-full object-cover" src="../img/imagem-1-conteudo-2-univlle.png" alt="">
		</div>
	</div>
	<script>
		module.exports = {
			// ...
			plugins : [
			// ...
			require('@tailwindcss/forms'), ],
		}
	</script>
</body>

</html>